<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
        
    {% include home/about.html %}
    {% include home/invited-speakers-slider.html %}
    {% include home/exhibition.html %}
    {% include agenda-slider.html agenda-data=site.data.agenda %}
    {% include home/venues.html %}
    {% include home/podcast.html %}

    {% include home/timeline-with-calendars.html %}
    {% include home/sponsors.html %}
    {% include home/organizers.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
</body>

</html>
