<div style="background: {{site.color.main}}; padding: 0; margin-top: 70px; margin-bottom: -70px; color: {{ site.color.background}}; ">
    <section id="banner" class="container content-section" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="row">
            <div class="col-lg-12">
                <p style="margin: 0">
                    The participation in the Festival is <strong>free of charge</strong>.
                    To register for specific events, please <strong>see the <a class="page-scroll" style="color: white;" href="#agenda">agenda</a> below</strong>.
                </p>
            </div>
        </div>
    </section>
</div>

<!-- About Section -->
<section id="about" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ About the event</h2>
            <p>
                {{ site.inline-logo }} is the 1st edition of our annual Festival dedicated to explore the intersection of Art and Artificial Intelligence.
                Our Festival is the best place to explore the usage of AI in artistic process, and learn more about AI's impact on the world through art. Join us to:
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-4 text-center">
            <div class="fadein">
                <img class="width-100 width-max-400px" src="{{ "./images/optimized/ai-generated-800x800/people_gathering_around_the_art_exhibition.webp" | relative_url }}">
            </div>
            <div>
                <h3>Emerge yourself into new experiences!</h3>
                <!-- <h3>Visit Exhibition and meet with community!</h3> -->
                <p>
                    <!-- Attend the festival and experience the forms of art you have never seen before. -->
                    Get inspired by the submitted artworks at our <a class="page-scroll" href="#exhibition">Exhibition</a>.
                    Meet artists behind the top works, 
                    and explore their vision of future of AI and our society.
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="fadein">
                <img class="width-100 width-max-400px" src="{{ "./images/optimized/ai-generated-800x800/person_giving_presentation_to_crowd.webp" | relative_url }}">
            </div>
            <div>
                <h3>Display all your creativity!</h3>
                <p>
                    Take part in a <a href="{{ "/competition" | relative_url }}">Competition</a>,
                    present your creative work during the festival's exhibition and win cash prizes.
                </p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="fadein">
                <img class="width-100 width-max-400px" src="{{ "./images/optimized/ai-generated-800x800/person_emerging_themself_in_art.webp" | relative_url }}">
            </div>
            <div>
                <h3>Embrace new possibilities!</h3>
                <!-- <h3>Participate in talks and workshops!</h3> -->
                <p>
                    Attend <a class="page-scroll" href="#invited-speakers">talks and workshops</a> to learn 
                    about using AI in artistic process from world recognized invited speakers.
                    <!-- Attend talks and workshops to learn how others use AI in creative way. -->
                    <!-- Learn more about using AI in artistic process from world recognized invited speakers.
                    Participate in on-hands technical and artistic workshops. -->
                </p>
            </div>
        </div>
        {% comment %}

        <div class="col-lg-6">
            <p style="text-align: right; color: #AAA; font-size: 14px;">
                * Yes, these images were AI-generated by us using Midjourney v model.
            </p>
        </div>
        {% endcomment %}
    </div>
    <div class="row" style="margin-top: 85px;">
        {% comment %}
        <div class="col-lg-12">
            <p>More information exhibition, talks, workshops, and tickets will be published soon!</p>
        </div>
        <div class="col-lg-6 text-center">
            <a class="btn btn-default btn-lg" href="{{ "./about-ml-in-pl-conference" | relative_url }}">Learn more about <span class="logo"><span class="main-name">ML&nbsp;in&nbsp;PL</span>&nbsp;<span class="sub-name">Conference</span></span> </a>
        </div>

        <div class="col-lg-6 text-center">
            <a class="btn btn-default btn-lg" href="{{ "./about-festival" | relative_url }}">Learn more about our Festival, venues, and organizers </a>
        </div>

        <div class="col-lg-6 text-center">
            <a class="btn btn-default btn-lg" href="{{ "./competition" | relative_url }}">Learn more about our Competition and submit your work!</span></span> </a>
        </div>
        {% endcomment %}
    </div>

    {% comment %}
    <div class="row" style="margin-top: 85px;">
        <div class="col-lg-6 text-left">
            <h3>/ Festival</h3>

            <p>Our Festival takes place in Museum of Modern Art:</p>
            <div class="col-lg-6 text-center">
                <a class="btn btn-default btn-lg" href="{{ "./about-festival" | relative_url }}">Learn more about our Festival, venues, and organizers </a>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <img class="width-100 width-max-400px" src="{{ "./images/optimized/ai-generated-800x800/ai_art_3.webp" | relative_url }}">
        </div>
    </div>
    <div class="row" style="margin-top: 85px;">
        <div class="col-lg-6 text-center">
            <img class="width-100 width-max-400px" src="{{ "./images/optimized/ai-generated-800x800/ai_art_1.webp" | relative_url }}">
        </div>
        <div class="col-lg-6 text-left">
            <h3>/ Competition</h3>

            <p>This year competition is titled "Future will be better Tommorow". In this competition we encourage all the artists, students, AI enthusiasts - from all fields and all backgrounds -
                 to create their own artworks elaborating on the topic of future of AI and our society, while using AI in the creative process.
                Finalists have a chance to present their work on the exhibition in Academy of Fine Arts in Warsaw. Cash prizes await for top 3 artworks.</p>
            <div class="col-lg-6 text-center">
                <a class="btn btn-default btn-lg" href="{{ "./competition" | relative_url }}">Learn more about our Competition and submit your work!</span></span> </a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 85px;">
        <div class="col-lg-6">
            <h3>Bigger and better than ever!</h3>
            <p>
                We are excited to announce that this year, 
                <strong>the main part of the conference will take place at the remarkable Copernicus Science Centre in Warsaw.</strong>
                Thanks to this change, we will be able to host more attendees and provide you with the best experience ever!
            </p>
        </div>
        <div class="col-lg-6">
            <img class="width-100 photo" src="{{ "./images/misc/centrum-nauki-kopernika-1-optimized.webp" | relative_url }}">
        </div>
    </div>
    <div class="row text-center" style="margin-top: 25px;">
        <div class="col-lg-12">
            <a class="btn btn-default btn-lg" href="{{ "./about-ml-in-pl-conference" | relative_url }}">Learn more about <span class="logo"><span class="main-name">ML&nbsp;in&nbsp;PL</span>&nbsp;<span class="sub-name">Conference</span></span> </a>
        </div>
    </div>
    {% endcomment %}
</section>
