<!-- Exhibition Artists Section -->
<section id="exhibition" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Exhibition </h2>
            <p>
                We are honored to present the authors of <strong>top 9 submissions</strong> of this year’s AI Art competition, which showcased a remarkable diversity of artworks, highlighting the possibilities that artificial intelligence brings to the creative process. From stunning visual pieces to thought-provoking installations, each winner has demonstrated a unique approach to blending technology with creativity.
            </p>

            {% comment %}
            <ul>
                <li><strong>TATSURU ARAI</strong></li>
                <li><strong>LEON BUTLER</strong></li>
                <li><strong>AGATA KONARSKA</strong></li>
                <li><strong>RAFAŁ KRUSZKA</strong></li>
                <li><strong>ANŽE SEKELJ</strong></li>
                <li><strong>KONRAD SMOLEŃ</strong></li>
                <li><strong>PIOTR STECHURA</strong></li>
                <li><strong>UBERMORGEN</strong></li>
                <li><strong>ZUZANNA WUDARSKA</strong></li>
            </ul>
            {% endcomment %}

            <p>
                Join us in celebrating these talented artists at <strong>the Academy of Fine Arts in Warsaw</strong> at Wybrzeże Kościuszkowskie 37, where their works will be exhibited from October 31 to November 11. This exhibition will offer a unique opportunity to explore the innovative intersection of artificial intelligence and art, reflecting various styles, themes, and perspectives.
            </p>
            <p>
                The main prizes will be awarded among the participants of the exhibition during an Award Ceremony on November 9 at <strong>Museum of Modern Art in Warsaw</strong>, located at Marszałkowska 103.
            </p>
        </div>
    </div>

    {% include photo-gallery.html photo-gallery-data=site.data.exhibition-photos %}
</section>



{% include speakers-slider.html 
    section-id="exhibition-artists" 
    section-title="Exhibition artists" 
    speakers-data=site.data.exhibition-artists
    more-is-coming=true
%}
