<!-- Exhibition Artists Section -->
<section id="exhibition" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Exhibition </h2>
            {% comment %}
            <p>
                <a href="https://maps.app.goo.gl/q8ZfTciSomqLKBEt6" target="_blank"><i class="fa-solid fa-map-location-dot"></i> Academy of Fine Arts in Warsaw, Wybrzeże Kościuszkowskie 37/39</a>
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39093.35816005438!2d20.962802120475626!3d52.23730067881148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc59e244d77d%3A0x4dba3bd70965b7c7!2sAkademia%20Sztuk%20Pi%C4%99knych%20w%20Warszawie!5e0!3m2!1sen!2snl!4v1730587426860!5m2!1sen!2snl" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            {% endcomment %}
            <p>
                We are honored to present the authors of <strong>top 9 submissions</strong> of this year’s AI Art competition, which showcased a remarkable diversity of artworks, highlighting the possibilities that artificial intelligence brings to the creative process. From stunning visual pieces to thought-provoking installations, each winner has demonstrated a unique approach to blending technology with creativity.
            </p>

            {% comment %}
            <ul>
                <li><strong>TATSURU ARAI</strong></li>
                <li><strong>LEON BUTLER</strong></li>
                <li><strong>AGATA KONARSKA</strong></li>
                <li><strong>RAFAŁ KRUSZKA</strong></li>
                <li><strong>ANŽE SEKELJ</strong></li>
                <li><strong>KONRAD SMOLEŃ</strong></li>
                <li><strong>PIOTR STECHURA</strong></li>
                <li><strong>UBERMORGEN</strong></li>
                <li><strong>ZUZANNA WUDARSKA</strong></li>
            </ul>
            {% endcomment %}

            <p>
                Join us in celebrating these talented artists at the <a href="https://maps.app.goo.gl/q8ZfTciSomqLKBEt6" target="_blank"><i class="fa-solid fa-location-dot"></i> <strong>Academy of Fine Arts in Warsaw</strong> at Wybrzeże Kościuszkowskie 37/39 (floors -1 and 2)</a>, where their works will be exhibited from <i class="fa-regular fa-calendar-days"></i> <strong>October 31 to November 11 from 10 AM to 6 PM</strong>. This exhibition will offer a unique opportunity to explore the innovative intersection of artificial intelligence and art, reflecting various styles, themes, and perspectives.
            </p>
            <p>
                The main prizes will be awarded among the participants of the exhibition during an Award Ceremony on November 9 at <strong>Museum of Modern Art in Warsaw</strong>, located at Marszałkowska 103.
            </p>
        </div>
    </div>

    {% include photo-gallery.html photo-gallery-data=site.data.exhibition-photos %}
</section>



{% include speakers-slider.html 
    section-id="exhibition-artists" 
    section-title="Exhibition artists" 
    speakers-data=site.data.exhibition-artists
    more-is-coming=true
%}
