<!-- Organizers section -->
<section id="organizers" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Organizers</h2>
            <p>
                The festival is organized by the non-profit <a href="https://mlinpl.org">ML in PL Association</a>
                in collaboration with the <a href="https://artmuseum.pl/en">Museum of Modern Art in Warsaw</a>
                and the <a href="https://en.asp.waw.pl/">Academy of Fine Arts in Warsaw.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 style="height:2em">ML in PL Association</h3>
            <p>
                We are a group of young people who are determined to bring the best of Machine Learning to Central and
                Eastern Europe by creating a high-quality event for every ML and AI enthusiast.
                Although we come from many different backgrounds, we are united by the common
                goal of spreading a love about the discipline.
            </p>
        </div>
        <div class="col-md-4">
            <h3 style="height:2em">Museum of Modern Art in Warsaw</h3>
            <p>
                The Museum of Modern Art in Warsaw (Muzeum Sztuki Nowoczesnej w Warszawie, or MSN)
                is a leading cultural institution in Poland focused on contemporary and modern art.
                MSN collaborates with various groups, communities, and institutions both in Poland and internationally,
                serving as a hub for dialogue and shaping the cognitive and aesthetic sensibilities.
            </p>
        </div>
        <div class="col-md-4">
            <h3 style="height:2em">Academy of Fine Arts in Warsaw</h3>
            <p>
                With a heritage spanning over 250 years, the Academy of Fine Arts in Warsaw stands as the largest
                and oldest institution of higher education for the arts in Poland. The Academy upholds the
                traditions and values of Polish art, emphasizing openness, freedom in artistic
                exploration and scientific research, and respect for diverse creative perspectives.
            </p>
        </div>
        </div>
    </div>

<!--        <div class="row">-->
<!--            <div class="col-md-4 text-center" style="margin-bottom: 35px;">-->
<!--                <a href="https://mlinpl.org"><img class="width-100 width-max-400px" src="{{ "./images/mlinpl-logo-white.png" | relative_url }}"></a>-->
<!--            </div>-->
<!--            <div class="col-md-4 text-center" style="margin-bottom: 35px;">-->
<!--                <a href="https://artmuseum.pl/en/muzeum"><img class="width-100 width-max-400px" src="{{ "./images/MSN.png" | relative_url }}"></a>-->
<!--            </div>-->
<!--             <div class="col-lg-4">-->
<!--                <h3>Academy of Fine Arts in Warsaw</h3>-->
<!--            </div>-->
<!--        </div>-->

    {% include people-small-with-social.html people-data=site.data.organizers %}
</section>
