<!-- Podcast Section -->
<section id="podcast" class="container content-section">
    <div class="row">
        <div class="col-lg-12">
            <h2>/ Listen to podcast about us!</h2>
            <p>
                Is our Festival mentioned in the podcast? <strong>Yes!</strong>
                <br>
                <br>
                Listen to the latest episode of the <a href="https://open.spotify.com/show/2FOqz7z12VTgWeDcpKMchv?si=58d78cec4a23430b", target="_blank">Szerszy kontekst AI</a> podcast, entitled <a href="https://open.spotify.com/episode/6Ql3rZmc2qQwqwxQlrC0ZP?si=2217f3babd414d0a", target="_blank">AI instead of a paintbrush. How artists are using technology.</a> The two judges of our competition: Jakub Depczyński - art historian and Przemysław Spurek, Ph.D. - leader of the research team at IDEAS NCBR talk about what surprised them in the submitted works, how the visual culture of society is shaping up, and how artists are exploring the use of a tool such as artificial intelligence in the creative process. Great 45 minutes of conversation!
            </p>
        </div>
    </div>
    <!-- brown color & height 352px-->
    <!-- <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6Ql3rZmc2qQwqwxQlrC0ZP?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->
    
    <!-- dark color & height 152px-->
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6Ql3rZmc2qQwqwxQlrC0ZP?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</section>
