<!-- Venues Section -->
<section id = "venues" class="container content-section">
    <div class="row">
        <div class="col-xs-12">
            <h2>/ Venues</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>/ Museum of Modern Art in Warsaw</h3>
        </div>
        <div class="col-md-8">
            <p>
                The Museum of Modern Art in Warsaw is a public institution that collects works of art,
                researches and popularizes material and non-material heritage of contemporary culture.
            </p>
            <p>
                MSN collaborates with diverse groups and communities, as well as institutions in Poland
                and around the world. It is a space for dialogue where cognitive and aesthetic sensibilities
                are being shaped. It develops along with the City of Warsaw, it is meant to react to real-time events,
                and arouse curiosity in visitors.
            </p>
            <p>
                The daily functioning of the Museum is driven by efforts to act ethically and
                professionally and with concern for the environment and social relations.
            </p>
        </div>
        <div class="col-md-4">
            <img class="width-100 width-max-400px" src="{{ "./images/msn.jpeg" | relative_url }}">
        </div>
    </div>
 
    <div class="row" style="margin-top: 25px;">
        <div class="col-xs-12">
            <h3>/ Academy of Fine Arts</h3>
        </div>
        <div class="col-md-8">
            <p>
                The Academy of Fine Arts in Warsaw is the largest and oldest institution of higher education
                for arts in Poland. It educates an average of 1600 students annually at nine Faculties based in
                four historical locations in Warsaw. Professor Błażej Ostoja Lniski is the Rector
                of the University for the 2020-2024 term.
            </p>
            <p>
                The Academy of Fine Arts in Warsaw is the heir of over 250 years of tradition of artistic education,
                which it passes on to the next generations of young artists. It cultivates the traditions and values
                of Polish art, placing particular emphasis on openness, freedom of artistic exploration and scientific
                research, and respect for various creative attitudes. Studies at the Academy of Fine Arts in
                Warsaw provide an extraordinary opportunity to develop individual passions and shape an artistic
                path under the supervision of excellent academic staff – leading artists and researchers.
            </p>
        </div>
        <div class="col-md-4">
            <img class="width-100 width-max-400px" src="{{ "./images/asp.jpg" | relative_url }}">
        </div>
    </div>
</section>